.env
/.idea
/vendor
/.vagrant
/public/hot
composer.lock
npm-debug.log
/node_modules
yarn-error.log
Homestead.json
Homestead.yaml
/storage/*.key
/storage/files
/public/storage
/_ide_helper.php
/storage/images/avatars/*.*
/storage/images/categories/*.*
/storage/images/products/*.*
/storage/framework/testing/disks/images/avatars/*.*
/public/epikfy-bower
